<div class="navbar-area">
  <!-- topbar end-->
  <div class="topbar-area">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7 align-self-center">
          <div class="topbar-menu text-md-left text-center">
            <ul class="align-self-center">
              <li><a href="#">Author</a></li>
              <li><a href="#">Advertisment</a></li>
              <li><a href="#">Member</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 mt-2 mt-md-0 text-md-right text-center">
          <div class="topbar-social">
            <div class="topbar-date d-none d-lg-inline-block"><i class="fa fa-calendar"></i>{{today | date:'medium'}}
            </div>
            <ul class="social-area social-area-2">
              <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="youtube-icon" href="#"><i class="fa fa-youtube-play"></i></a></li>
              <li><a class="instagram-icon" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="google-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- adbar end-->
  <div class="adbar-area bg-black d-none d-lg-block" style="background-color: #E0DCC1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-5 align-self-center">
          <div class="logo text-md-left text-center">
            <a class="main-logo" href="index.html"><img src="../../assets/img/logo.png" alt="img"></a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 text-md-right text-center">
          <a href="#" class="adbar-right">
            <img src="../../assets/img/1.png">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- navbar start -->
  <nav class="navbar navbar-expand-lg" style="background-color: #615B36 !important">
    <div class="container-fluid nav-container">
      <div class="responsive-mobile-menu">
        <div class="logo d-lg-none d-block">
          <a class="main-logo" href="index.html"><img src="../../assets/img/logo.png" alt="img"></a>
        </div>
        <button class="menu toggle-btn d-block d-lg-none" data-target="#nextpage_main_menu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="icon-left"></span>
          <span class="icon-right"></span>
        </button>
      </div>
      <div class="nav-right-part nav-right-part-mobile" style="color: white !important;">
        <a class="search header-search" href="#" style="color: white !important;"><i class="fa fa-search"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="nextpage_main_menu">
        <ul class="navbar-nav menu-open">
          <li class="current-menu-item">
            <a href="#banner">Home</a>
          </li>
          <li class="current-menu-item">
            <a href="#trending">Trending News</a>
          </li>
          <li class="current-menu-item">
            <a href="#latest">Latest News</a>
          </li>
          <li class="current-menu-item">
            <a href="#grid">News Grid</a>
          </li>
          <li class="current-menu-item">
            <a target="_blank" href="https://1.envato.market/5OQX2">Pro Version</a>
          </li>
        </ul>
      </div>
      <div class="nav-right-part nav-right-part-desktop" >
        <div class="menu-search-inner" style="background-color: #938953">
          <input type="text" placeholder="Search For">
          <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </nav>



</div>




<!-- banner area start -->
<div class="banner-area banner-inner-1 bg-black" id="banner" style="background-color: #E0DCC1;">
  <!-- banner area start -->
  <div class="banner-inner pt-5">
    <div class="container-container">
      <div class="row mx-1">
        <div class="col-lg-6">
          <div class="thumb after-left-top">
            <img src="../../assets/img/banner-1.png" alt="img" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="banner-details mt-4 mt-lg-0">
            <div class="d-flex">
              <div class="mr-2 pt-2 px-4  btn-tech">
                <span>Tech</span>
              </div>
              <!--p class="btn-tech" >
                <a class="tag-base tag-blue" href="#">
                  <span style=" color: white; font-size: 1.3em;"> Tech</span>
                </a>
              </p-->
              <p class="mx-2  py-1 pt-3 ">
                <i class="fa fa-clock-o"></i>
                <span> 08.22.2020</span>
              </p>
              <!--ul>
                <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                <li class="date"><i class="fa fa-clock-o"></i>08.22.2020</li>
              </ul-->
            </div>
            <h1>ReZoom outage left some people locked out...</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
            <a class="btn readMore" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-post-wrap style-white">
          <div class="thumb">
            <img src="../../assets/img/post1.png" alt="img" class="img-fluid" width="100%">
            <a class="tag-base tag-base" href="#" style="background-color :#938953;" >Tech</a>
          </div>
          <div class="detail-2">
            <h6 class="title"><a href="#">The FAA will test drone detecting technologies in airports this year</a></h6>
            <div class="post-meta-single mt-2">
              <p>
                <i class="fa fa-clock-o"></i> 08.22.202000
              </p>
              <!--ul>
                            <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                        </ul-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-post-wrap style-white">
          <div class="thumb">
            <img src="../../assets/img/post2.png" alt="img" class="img-fluid" width="100%">
            <a class="tag-base tag-base" href="#" style="background-color: #E0D27E ;">Food</a>
          </div>
          <div class="detail-2">
            <h6 class="title"><a href="#">Rocket Lab will resume launches no sooner than August 27th</a></h6>
            <div class="post-meta-single mt-2">
              <p>
                <i class="fa fa-clock-o"></i> 08.22.2020
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-post-wrap style-white">
          <div class="thumb">
            <img src="../../assets/img/post3.png" alt="img" class="img-fluid" width="100%">
            <a class="tag-base tag-base" href="#" style="background-color :#615B36;">Tech</a>
          </div>
          <div class="detail-2">
            <h6 class="title"><a href="#">Google Drive flaw may attackers fool you into install malware</a></h6>
            <div class="post-meta-single mt-2">
              <p><i class="fa fa-clock-o"></i> 08.22.2020</p>
              <!--ul>
                            <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                        </ul-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-post-wrap style-white">
          <div class="thumb">
            <img src="../../assets/img/post4.png" alt="img" class="img-fluid" width="100%">
            <a class="tag-base tag-base" href="#" style="background-color :#A6A28F;">Food</a>
          </div>
          <div class="detail-2">
            <h6 class="title"><a href="#">TikTok will sue the US over threatened ban</a></h6>
            <div class="post-meta-single mt-2">
              <p >
                <i class="fa fa-clock-o"></i>  08.22.2020
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="post-area pd-top-75 pd-bottom-50" id="trending">
  <div class="container-fluid">
    <div class="row  mt-3">
      <div class="col-md-6 col-lg-3">
        <div class="section-title d-flex justify-content-between">
          <h6 class="title">Trending News</h6>
          <p>
            <a class=" " href="#carouselExampleControls" role="button" data-slide="prev">
              <i class="fa fa-chevron-left"></i>
            </a> &nbsp;&nbsp;
            <a class="" href="#carouselExampleControls" role="button" data-slide="next">
              <i class="fa fa-chevron-right"></i>
            </a>
          </p>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!--div>debut slider</div-->
              <div class="trending-post">
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i> December 26, 2022</p>
                    </div>
                    <h6 class="title"><a href="#">The FAA will test drone </a></h6>
                  </div>
                </div>
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i> December 26, 2021</p>
                    </div>
                    <h6 class="title"><a href="#">Flight schedule and quarantine</a></h6>
                  </div>
                </div>
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i> December 26, 2020..</p>
                    </div>
                    <h6 class="title"><a href="#">Indore bags cleanest city</a></h6>
                  </div>
                </div>
              </div>
              <!--div>end slider</div-->

            </div>
            <div class="carousel-item">
              <!--div>debut slider</div-->
              <div class="trending-post">
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i> December 26, 2021000 </p>
                    </div>
                    <h6 class="title"><a href="#">The FAA will test drone </a></h6>
                  </div>
                </div>
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i>December 26, 2018....</p>
                    </div>
                    <h6 class="title"><a href="#">Flight schedule and quarantine</a></h6>
                  </div>
                </div>
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i>December 26, 2018.000.</p>
                    </div>
                    <h6 class="title"><a href="#">Indore bags cleanest city</a></h6>
                  </div>
                </div>
              </div>
              <!--div>end slider</div-->
            </div>
            <div class="carousel-item">
              <div class="trending-post">
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post8.png" alt="img">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                    </div>
                    <h6 class="title"><a href="#">The FAA will test drone.</a></h6>
                  </div>
                </div>
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post6.png" alt="img">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                    </div>
                    <h6 class="title"><a href="#">Flight schedule and quarantine</a></h6>
                  </div>
                </div>
                <div class="single-post-wrap style-overlay">
                  <div class="thumb">
                    <img src="../../assets/img/post7.png" alt="img">
                  </div>
                  <div class="detail-1">
                    <div class="post-meta-single">
                      <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                    </div>
                    <h6 class="title"><a href="#">Indore bags cleanest city</a></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6">
        <div class="section-title d-flex justify-content-between">
          <h6 class="title">Latest News</h6>
          <p>
            <a class=" " href="#carouselLatestNews" role="button" data-slide="prev">
              <i class="fa fa-chevron-left"></i>
            </a> &nbsp;&nbsp;
            <a class="" href="#carouselLatestNews" role="button" data-slide="next">
              <i class="fa fa-chevron-right"></i>
            </a>
          </p>
        </div>

        <div id="carouselLatestNews" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!--div class="item"-->
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list1.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details" style="color: black;">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Himachal Pradesh rules in order to allow tourists </a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list2.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Online registration, booking for Vaishno Devi </a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list3.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Detecting technologies in airports this year</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list4.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">The FAA will drone detect-ing in airports this year</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list1.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Thailand makes it mand-atory for tourists to stay</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <!--/div-->
            </div>

            <div class="carousel-item">
              <!--div class="item"-->
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list1.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Himachal Pradesh rules in order to allow tourists </a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list4.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Online registration, booking for Vaishno Devi </a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list3.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Detecting technologies in airports this year</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list4.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">The FAA will drone detect-ing in airports this year</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-post-list-wrap">
                <div class="media">
                  <div class="media-left">
                    <img src="../../assets/img/list1.png" alt="img">
                  </div>
                  <div class="media-body">
                    <div class="details">
                      <div class="post-meta-single">
                        <i class="fa fa-clock-o"></i> 08.22.2020
                      </div>
                      <h6 class="title"><a href="#">Thailand makes it mand-atory for tourists to stay</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <!--/div-->
            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-3 col-md-6">
        <div class="section-title d-flex justify-content-between">
          <h6 class="title">What’s new</h6>
          <p>
            <a class=" " href="#carouselWhatsNew" role="button" data-slide="prev">
              <i class="fa fa-chevron-left"></i>
            </a> &nbsp;&nbsp;
            <a class="" href="#carouselWhatsNew" role="button" data-slide="next">
              <i class="fa fa-chevron-right"></i>
            </a>
          </p>
        </div>
        <div id="carouselWhatsNew" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="single-post-wrap">
                <div class="thumb">
                  <img src="../../assets/img/post9.png" alt="img">
                </div>
                <div class="details">
                  <div class="post-meta-single mb-4 pt-1 d-flex">
                    <p class="mr-3"><a class="tag-blue" href="#">Tech</a></p>
                    <p><i class="fa fa-clock-o"></i> 08.22.2020</p>
                  </div>
                  <h6 class="title"><a href="#">Uttarakhand’s Hemkund Sahib yatra to start from September 4</a></h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. </p>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="single-post-wrap">
                <div class="thumb">
                  <img src="../../assets/img/post9.png" alt="img">
                </div>
                <div class="details">
                  <div class="post-meta-single mb-4 pt-1">
                    <ul>
                      <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                      <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                    </ul>
                  </div>
                  <h6 class="title"><a href="#">Uttarakhand’s Hemkund Sahib yatra to start from September 4</a></h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6">
        <div class="section-title">
          <h6 class="title">Join With Us</h6>
        </div>
        <div class="social-area-list mb-4 mt-4">
          <ul>
            <li><a class="facebook" href="#"><i
                  class="fa fa-facebook social-icon"></i><span>12,300</span><span>Like</span> <i
                  class="fa fa-plus"></i></a></li>
            <li><a class="twitter" href="#"><i
                  class="fa fa-twitter social-icon"></i><span>12,600</span><span>Followers</span> <i
                  class="fa fa-plus"></i></a></li>
            <li><a class="youtube" href="#"><i
                  class="fa fa-youtube-play social-icon"></i><span>1,300</span><span>Subscribers</span> <i
                  class="fa fa-plus"></i></a></li>
            <li><a class="instagram" href="#"><i
                  class="fa fa-instagram social-icon"></i><span>52,400</span><span>Followers</span> <i
                  class="fa fa-plus"></i></a></li>
            <li><a class="google-plus" href="#"><i
                  class="fa fa-google social-icon"></i><span>19,101</span><span>Subscribers</span> <i
                  class="fa fa-plus"></i></a></li>
          </ul>
        </div>
        <div class="add-area">
          <a href="#"><img class="w-100" src="../../assets/img/6.png" alt="img"></a>
        </div>
      </div>
    </div>
  </div>
</div>

















<!--nav class="navbar navbar-expand-xxl navbar-dark" style="background-color: #E0DCC1 !important; width: 100%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" style="border: #ADA361 solid 2px;">
      <span class="navbar-toggler-icon " ></span>
    </button>

    <a href="#home" class="navbar-brand">
      <img src="../../assets/img/ot-logo.png" alt="company logo" width="50" class="img-fluid rounded-circle"/>  &nbsp;
      <span class="" style="font-weight: bolder; color: #4D3EAD;"> Orignal Think </span>
    </a> 

    <div class="d-none d-md-flex align-items-between">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <i class="fa fa-arrow-up fa-10x" style="color: #ADA361; cursor: pointer;"></i>
      </form> &nbsp;
 
      <div class="avatar-icon d-flex flex-wrap">
          <h6 class="mr-3 align-self-center rounded-circle p-3" style="color: #4D3EAD; background-color: #ADA361;">{{username}}</h6>
        </div>
    </div>

    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mx-auto" >
        <li class="nav-item active  text-primary">
            <a href="#home" class="nav-link text-primary">Home</a>
          </li>
        <li class="nav-item ">
          <a href="#othinks" class="nav-link text-primary">Orignal thinks presentation</a>
        </li>
        <li class="nav-item ">
          <a href="#othesis" class="nav-link text-primary">Orignal thesis presentation</a>
        </li>
        <li class="nav-item ">
          <a href="#otTalks" class="nav-link text-primary">Orignal talks presentation</a>
        </li>
        <li class="nav-item ">
          <a href="#otn" class="nav-link text-primary">Orignal thinks notofication</a>
        </li>
        <li class="nav-item "><a href="#ost" class="nav-link text-primary">Orignal study trips</a></li>
      </ul>
    </div>

        
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>


<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa! Quibusdam velit alias obcaecati blanditiis dignissimos 
  explicabo et harum incidunt consequuntur laborum id placeat dolorem, mollitia assumenda natus libero eaque provident. Asperiores 
  voluptate enim minima reiciendis dolorum accusamus officiis odit atque natus impedit. Maxime porro esse aut dolore asperiores modi, 
  inventore tempora perferendis sunt minima nobis facere earum consequuntur, iste suscipit praesentium amet odio ducimus, voluptatem 
  mollitia culpa similique nemo! At facere culpa doloribus magnam inventore ab error officiis et qui blanditiis earum ratione saepe 
  nulla voluptatum tempora consequuntur, assumenda esse. Recusandae mollitia similique aut deleniti perferendis nihil possimus sint.
</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa! Quibusdam velit alias obcaecati blanditiis dignissimos 
  explicabo et harum incidunt consequuntur laborum id placeat dolorem, mollitia assumenda natus libero eaque provident. Asperiores 
  voluptate enim minima reiciendis dolorum accusamus officiis odit atque natus impedit. Maxime porro esse aut dolore asperiores modi, 
  inventore tempora perferendis sunt minima nobis facere earum consequuntur, iste suscipit praesentium amet odio ducimus, voluptatem 
  mollitia culpa similique nemo! At facere culpa doloribus magnam inventore ab error officiis et qui blanditiis earum ratione saepe 
  nulla voluptatum tempora consequuntur, assumenda esse. Recusandae mollitia similique aut deleniti perferendis nihil possimus sint.
</p-->


<app-footer></app-footer>