<nav class="navbar navbar-expand-xxl navbar-dark" style="background-color: #E0DCC1 !important; width: 100%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" style="border: #ADA361 solid 2px;">
      <span class="navbar-toggler-icon " ></span>
    </button>

    <a href="#home" class="navbar-brand">
      <img src="../../assets/img/ot-logo.png" alt="company logo" width="50" class="img-fluid rounded-circle"/>  &nbsp;
      <span class="" style="font-weight: bolder; color: #4D3EAD;"> Orignal Think </span>
    </a> 

    <div class="d-none d-md-flex align-items-between">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <i class="fa fa-arrow-up fa-10x" style="color: #ADA361; cursor: pointer;"></i>
        <!--button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button-->
      </form> &nbsp;
      
      <!--button class="btn  green__btn text-capitalize">Login</button-->
      <div class="avatar-icon d-flex flex-wrap">
          <h6 class="mr-3 align-self-center rounded-circle p-3" style="color: #4D3EAD; background-color: #ADA361;">{{username}}</h6>
        </div>
    </div>

    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mx-auto" >
        <li class="nav-item active  text-primary">
            <a href="#home" class="nav-link text-primary">Home</a>
          </li>
        <li class="nav-item ">
          <a href="#othinks" class="nav-link text-primary">Orignal thinks presentation</a>
        </li>
        <li class="nav-item ">
          <a href="#othesis" class="nav-link text-primary">Orignal thesis presentation</a>
        </li>
        <li class="nav-item ">
          <a href="#otTalks" class="nav-link text-primary">Orignal talks presentation</a>
        </li>
        <li class="nav-item ">
          <a href="#otn" class="nav-link text-primary">Orignal thinks notofication</a>
        </li>
        <li class="nav-item "><a href="#ost" class="nav-link text-primary">Orignal study trips</a></li>
      </ul>
    </div>

        
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>


<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa! Quibusdam velit alias obcaecati blanditiis dignissimos 
  explicabo et harum incidunt consequuntur laborum id placeat dolorem, mollitia assumenda natus libero eaque provident. Asperiores 
  voluptate enim minima reiciendis dolorum accusamus officiis odit atque natus impedit. Maxime porro esse aut dolore asperiores modi, 
  inventore tempora perferendis sunt minima nobis facere earum consequuntur, iste suscipit praesentium amet odio ducimus, voluptatem 
  mollitia culpa similique nemo! At facere culpa doloribus magnam inventore ab error officiis et qui blanditiis earum ratione saepe 
  nulla voluptatum tempora consequuntur, assumenda esse. Recusandae mollitia similique aut deleniti perferendis nihil possimus sint.
</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa! Quibusdam velit alias obcaecati blanditiis dignissimos 
  explicabo et harum incidunt consequuntur laborum id placeat dolorem, mollitia assumenda natus libero eaque provident. Asperiores 
  voluptate enim minima reiciendis dolorum accusamus officiis odit atque natus impedit. Maxime porro esse aut dolore asperiores modi, 
  inventore tempora perferendis sunt minima nobis facere earum consequuntur, iste suscipit praesentium amet odio ducimus, voluptatem 
  mollitia culpa similique nemo! At facere culpa doloribus magnam inventore ab error officiis et qui blanditiis earum ratione saepe 
  nulla voluptatum tempora consequuntur, assumenda esse. Recusandae mollitia similique aut deleniti perferendis nihil possimus sint.
</p>


  <app-footer></app-footer>
