<footer class="footer py-5" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 px-3 text-center my-3">
                <a href="#" style="text-decoration: none !important;">
                    <img src="../../../assets/img/ot-logo.png" class="img-fluid rounded-circle" alt="company image"
                        style="width: 40%;" /> &nbsp;
                    <span style="font-weight: bold; color: #4D3EAD;">Original Think</span>
                </a>
                <p class="text-primary my-3 text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                    incidunt et perferendis ratione quod accusamus sit dolor optio
                    eveniet vero.
                </p>
                <p class="text-primary my-3 text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                    incidunt et perferendis ratione quod accusamus sit dolor optio
                    eveniet vero.
                </p>
                <a href="#" class="service-link text-capitalize" style="font-weight: bold; color: #4D3EAD;">
                    read more
                    <span> <i class="fa fa-arrow-right"></i> </span>
                </a>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-5 mx-auto px-3 text-center my-3">
                <div class="row">
                    <div class="col text-center mb-3">
                        <h1 class="text-uppercase " style="font-weight: bolder; color: #4D3EAD;">contact us</h1>
                        <div class="title-underline my-3" style="background-color: #ADA361;">
                            <div class="title-underline__center"></div>
                        </div>
                    </div>

                    <div class="single-contact px-5 my-3 d-flex justify-content-between">
                        <span class="mr-3 " style="color: #938953; font-weight: bolder;">
                            <i class="fa fa-map"></i>
                        </span>
                        <p class=" text-capitalize" style="color: #4D3EAD;">
                            123 main street Venice, CA 90020
                        </p>
                    </div>

                    <div class="px-5 my-3 d-flex justify-content-between">
                        <span class="mr-3 " style="color: #938953; font-weight: bolder;"> <i class="fa fa-phone"></i>
                        </span>
                        <p class=" text-capitalize" style="color: #4D3EAD;">
                            + 123 456 789
                        </p>
                    </div>

                    <div class="single-contact px-5 my-3 d-flex justify-content-between">
                        <span class="mr-3" style="color: #938953;; font-weight: bolder;"> 
                            <i class="fa fa-envelope"></i> 
                        </span>
                        <p class=" text-capitalize" style="color: #4D3EAD;"> email@email.com</p>
                    </div>

                    <div class="single-contact px-5 my-3 d-flex justify-content-between">
                        <span class="mr-3" style="color: #938953; font-weight: bolder;">
                            <i class="fa fa-history"></i>
                        </span>
                        <p class=" text-capitalize" style="color: #4D3EAD;">
                            mon - sat 8:00 AM - 7:00 PM
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>