<div class="card">
    <div class="heading text-center">
        <div class="head1">Just Scratching the Surface</div>
        <p class="bdr"></p>
    </div>
    <div class="card-body">
        <div class="row m-0 pt-5">
            <div class="card col-12 col-md-3">
                <div class="card-content"> <i class="fas fa-mobile-alt fa-3x"></i>
                    <div class="card-title"> RECHARGE REPEAT CUSTOMER </div>
                    <p><small>Save customers' cards for future phone orders</small></p>
                    <div class="learn-more">
                        <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-3">
                <div class="card-content"> <i class="far fa-handshake fa-3x"></i>
                    <div class="card-title"> ACCEPT ELECTRONIC CHECK </div>
                    <p><small>Save customers' cards for future phone orders</small></p>
                    <div class="learn-more">
                        <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-3">
                <div class="card-content"> <i class="fas fa-mobile-alt fa-3x"></i>
                    <div class="card-title"> STREAMLINE PHONE PAYMENTS </div>
                    <p><small>Save customers' cards for future phone orders</small></p>
                    <div class="learn-more">
                        <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-3">
                <div class="card-content"> <i class="fas fa-user-secret fa-3x"></i>
                    <div class="card-title"> STAY<br /> SECURE </div>
                    <p><small>Save customers' cards for future phone orders</small></p>
                    <div class="learn-more">
                        <p> <small> LEARN MORE <label><i class="fas fa-angle-right"></i></label> </small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer1">
        &copy; 2021 Original Think All right reserved. <a href="#" style="color: white;">Web portal</a> by OT - version 1.0
    </div>
</div>