




/*------------------------------------------------
    ## footer-style
------------------------------------------------*/
.footer-area .widget {
    margin-bottom: 70px;
  }
  .footer-area .widget-title {
    color: #ffffff;
    margin-bottom: 27px;
    font-weight: bold;
  }
  .footer-area .widget_about {
    margin-top: -7px;
  }
  .footer-area .widget_about p {
    /*color: rgba(255, 255, 255, 0.8);*/
    color: #ffffff;
    text-align: justify;
  }
  .footer-area .contact_info_list {
    margin: 0;
    padding: 0;
    margin-top: -7px;
  }
  .footer-area .contact_info_list li {
    list-style: none;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 28px;
    position: relative;
    margin-bottom: 10px;
  }
  .footer-area .contact_info_list li i {
    position: absolute;
    left: 0;
    top: 7px;
  }
  .footer-area .contact_info_list li:last-child {
    margin-bottom: 0;
  }
  .footer-area .widget_recent_post .media .media-body .post-meta-single ul li {
    color: rgba(255, 255, 255, 0.8);
  }
  .footer-area .widget_recent_post .media .media-body h6 {
    color: rgba(255, 255, 255, 0.8);
  }

  .media-body{
      margin-left: 20px;
      margin-bottom: 10px;
      color: white;
  }

  .media-body a{
    color: white;
  }

  .media-body a:hover{
    color:#2876ED;
    text-decoration: none;
  }
  
  .footer-top {
    padding-bottom: 80px;
  }

  .footer-top .widget_nav_menu {
    margin-top: 33px;
  }
  .footer-top .widget_nav_menu li:after {
    display: none;
  }
  
  .footer-bottom {
    border-top: 1px solid #ffffff ;
    padding: 25px 0;
  }

  .footer-bottom p {
    color: white;
    margin-bottom: 0;
    margin-top: 5px;
  }
  
  .widget_nav_menu {
    margin: 0;
    padding: 0;
    color: white !important;
  }
  .widget_nav_menu li a {
    color: white !important;
  }

 .widget_nav_menu li a:hover {
    color: #2876ED !important;
    text-decoration: none;
  }

  .copyright a{
      color: white;
  }

  .copyright a:hover {
    color: #2876ED !important;
    text-decoration: none;
}

  
  .widget_nav_menu li {
    display: inline-block;
    position: relative;
    padding: 0 15px 0 10px;
    color: white !important;
    margin-bottom: 0;
  }
  .widget_nav_menu li:after {
    content: "|";
    position: absolute;
    right: 0;
    top: 0px;
    color: #ffffff !important;
  }
  .widget_nav_menu li:before {
    display: none;
  }
  .widget_nav_menu li:first-child {
    padding-left: 0;
  }
  .widget_nav_menu li:last-child {
    padding-right: 0;
  }
  .widget_nav_menu li:last-child:after {
    display: none;
  }


.footer-icon  {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50%;
  }


  .footer-icon :hover{
    color: #2876ED /* #4250DA*/
  }

  .tagcloud a:hover{
      background-color: #2876ED;
      text-decoration: none;
  }


  .social-area-2 li a {
    color: #ffffff;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
  }
  .social-area-2 li a.facebook-icon {
    background: #3b5998;
  }
  .social-area-2 li a.twitter-icon {
    background: #55acee;
  }
  .social-area-2 li a.youtube-icon {
    background: #d42428;
  }
  .social-area-2 li a.instagram-icon {
    background: #6c27b3;
  }
  .social-area-2 li a.google-icon {
    background: #dc4e41;
  }




  /*----------------------------------------*/
  ul li{
    list-style: none;
  }