<div class="container-fluid footer-area mt-5 py-5" style="background:#938953"> <!--div> #1c3459;</div-->
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="widget">
                <h5 class="widget-title">ABOUT US</h5>
                <div class="widget_about">
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Quis ipsum ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                    <!--div class="footer-icons my-5 d-flex justify-content-left">
                        <a href="#" class="footer-icon mr-2" style="color:white; background-color:  #3B5998;">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="footer-icon mx-2" style="color:white; background-color: #55ACEE;">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="footer-icon mx-2" style="color:white; background-color: #D42428;">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="footer-icon mx-2" style="color:white; background-color: #6C27B3;">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#" class="footer-icon mx-2" style="color:white; background-color: #DC4E41;">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </div-->
                    <ul class="social-area social-area-2 d-flex justify-content-left" style="padding-left: 0px !important;">
                        <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a></li> &nbsp;&nbsp;
                        <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a></li>   &nbsp;&nbsp;  
                        <li><a class="youtube-icon" href="#"><i class="fa fa-youtube-play"></i></a></li> &nbsp;&nbsp;
                        <li><a class="instagram-icon" href="#"><i class="fa fa-instagram"></i></a></li>  &nbsp;&nbsp;
                        <li><a class="google-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget widget_tag_cloud">
                <h5 class="widget-title">TAGS</h5>
                <div class="tagcloud d-flex flex-wrap">
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Consectetur</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Video</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">App</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Food</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Game</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Internet</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Phones</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Development</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Video</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Game</a>
                    <a href="#" class="p-1 mr-2 mb-2" style="border: #E0DCC1 solid 1px; color: #ffffff;">Gadgets</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget">
                <h5 class="widget-title">CONTACTS</h5>
                <ul class="contact_info_list">
                    <li>
                        <i class="fa fa-map-marker" style="color: #ffffff ;"></i> 
                        <span style="color: #ffffff ;">829 Cabell Avenue Arlington, VA 22202</span>
                    </li>
                    <li>
                        <i class="fa fa-phone"  style="color: #ffffff ;"></i>
                        <span  style="color: #ffffff ;"> +088 012121240</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"  style="color: #ffffff ;"></i> 
                        <span  style="color: #ffffff ;">Info@website.com</span> <br>
                        <span  style="color: #ffffff ;"> Support@mail.com</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="widget widget_recent_post">
                <h5 class="widget-title">POPULAR NEWS</h5>
                <div class="single-post-list-wrap style-white">
                    <div class="media">
                        <div class="media-left">
                            <img src="../../../assets/img/footer1.png" alt="img">
                        </div>
                        <div class="media-body">
                            <p>
                                <i class="fa fa-clock-o"  style="color: #ffffff ;"></i> 
                                <span  style="color: #ffffff ;"> 08.22.2020</span>
                            </p>
                            <h6 class="title">
                                <a href="#" style="color: #ffffff ;">Himachal Pradesh rules in order to allow tourists </a>
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="single-post-list-wrap style-white">
                    <div class="media">
                        <div class="media-left">
                            <img src="../../../assets/img/footer2.png" alt="img">
                        </div>
                        <div class="media-body">
                            <p>
                                <i class="fa fa-clock-o"  style="color: #ffffff ;"></i> 
                                <span  style="color: #ffffff ;"> 08.22.20200</span>
                            </p>
                            <h6 class="title">
                                <a href="#"  style="color: #ffffff ;">Himachal Pradesh rules in order to allow tourists </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <ul class="widget_nav_menu">
            <li>
                <a href="#">
                    <span style="color: #ffffff;" >About</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span style="color: #ffffff;" >Terms & Conditions</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span style="color: #ffffff;" >Privacy Policy</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span style="color: #ffffff;" >Contact</span>
                </a>
            </li>
        </ul>
        <p class="copyright">
            <span style="color: #ffffff;" >Copyright ©2021</span> &nbsp;
            <a href="https://orginal-think.com/">
                <span style="color: #ffffff;" > Original Think</span>
            </a>
        </p>
    </div>
</div>