<div class="container">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col-lg-8 col-sm-6 col-12 d-flex  align-items-center justify-content-center" style="height: 500px;">
            <!--div class="avatar-icon d-flex "></div-->
              <a href="#"> <img src="../../assets/img/ot-logo.png" alt="team" width="60" class="img-fluid rounded-circle"/> </a> &nbsp;&nbsp;
              <h6 class="align-self-center"> 
                <span class="text-primary" style="font-size: 1.5em;">O</span><span>riginal  </span> 
                <span class="text-primary" style="font-size: 1.5em;">  T</span> <span>hinks</span>
              </h6>         
        </div>

        <div style="height: 500px; background-color: #E0DCC1; border-radius: 0 20px 0 0"
            class="col-lg-4 col-sm-6 col-12 shadow pl-4 pr-4">
            <h5 class="text-primary pt-1" style="font-weight: bold;">
                <i class="fa fa-lock mb-3"></i>
                Mot de passe oublié
            </h5>

            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onPasswordForgotSubmit()" class="mt-5">
                <div class="form-row mt-4">
                    <div class="form-group col-md-12">
                        <label for="email" class="text-primary">Email
                            <span class="text-danger">*</span>
                        </label>
                        <input type="email" formControlName="email" placeholder="Entrez un email de récupération"
                            class="form-control mb-2"
                            [ngClass]="{ 'is-invalid': f.email.invalid && (f.email.dirty || f.email.touched) , 
                                          'is-valid': f.email.valid && (f.email.dirty || f.email.touched)}">
                        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="text-danger pt-1">
                            <div *ngIf="f.email.errors.required">
                                L'email est obligatoire
                            </div>
                            <div *ngIf="f.email.errors.email">
                                L'email n'est pas correct
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-sm-center mt-1 mb-1">
                    <div *ngIf="forgotPasswordLoading" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <input [disabled]="forgotPasswordLoading" type="submit" class="btn btn-primary btn-block mb-2 mt-2"
                    value="Envoyer">
                <div class="mb-3 text-left text-primary">
                    <!--a [routerLink]="['/auth/login']">J'ai déjà un compte</a-->
                    <span >Non j'ai un compte. </span> 
                    <a [routerLink]="['/auth/login']" style="font-weight: bold;">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
