<!-- banner area start -->
<div class="banner-area banner-inner-1 bg-black" id="banner" style="background-color: #E0DCC1;">
    <!-- banner area start -->
    <div class="banner-inner pt-5">
      <div class="container-container">
        <div class="row mx-1">
          <div class="col-lg-6">
            <div class="thumb after-left-top">
              <img src="../../assets/img/banner-1.png" alt="img" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 align-self-center">
            <div class="banner-details mt-4 mt-lg-0">
              <div class="d-flex">
                <div class="mr-2 pt-2 px-4  btn-tech">
                  <span>Tech</span>
                </div>
                <!--p class="btn-tech" >
                  <a class="tag-base tag-blue" href="#">
                    <span style=" color: white; font-size: 1.3em;"> Tech</span>
                  </a>
                </p-->
                <p class="mx-2  py-1 pt-3 ">
                  <i class="fa fa-clock-o"></i>
                  <span> 08.22.2020</span>
                </p>
                <!--ul>
                  <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                  <li class="date"><i class="fa fa-clock-o"></i>08.22.2020</li>
                </ul-->
              </div>
              <h1>ReZoom outage left some people locked out...</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
              <a class="btn readMore" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single-post-wrap style-white">
            <div class="thumb">
              <img src="../../assets/img/post1.png" alt="img" class="img-fluid" width="100%">
              <a class="tag-base tag-base" href="#" style="background-color :#938953;" >Tech</a>
            </div>
            <div class="detail-2">
              <h6 class="title"><a href="#">The FAA will test drone detecting technologies in airports this year</a></h6>
              <div class="post-meta-single mt-2">
                <p>
                  <i class="fa fa-clock-o"></i> 08.22.202000
                </p>
                <!--ul>
                              <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                          </ul-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-post-wrap style-white">
            <div class="thumb">
              <img src="../../assets/img/post2.png" alt="img" class="img-fluid" width="100%">
              <a class="tag-base tag-base" href="#" style="background-color: #E0D27E ;">Food</a>
            </div>
            <div class="detail-2">
              <h6 class="title"><a href="#">Rocket Lab will resume launches no sooner than August 27th</a></h6>
              <div class="post-meta-single mt-2">
                <p>
                  <i class="fa fa-clock-o"></i> 08.22.2020
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-post-wrap style-white">
            <div class="thumb">
              <img src="../../assets/img/post3.png" alt="img" class="img-fluid" width="100%">
              <a class="tag-base tag-base" href="#" style="background-color :#615B36;">Tech</a>
            </div>
            <div class="detail-2">
              <h6 class="title"><a href="#">Google Drive flaw may attackers fool you into install malware</a></h6>
              <div class="post-meta-single mt-2">
                <p><i class="fa fa-clock-o"></i> 08.22.2020</p>
                <!--ul>
                              <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                          </ul-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-post-wrap style-white">
            <div class="thumb">
              <img src="../../assets/img/post4.png" alt="img" class="img-fluid" width="100%">
              <a class="tag-base tag-base" href="#" style="background-color :#A6A28F;">Food</a>
            </div>
            <div class="detail-2">
              <h6 class="title"><a href="#">TikTok will sue the US over threatened ban</a></h6>
              <div class="post-meta-single mt-2">
                <p >
                  <i class="fa fa-clock-o"></i>  08.22.2020
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="post-area pd-top-75 pd-bottom-50" id="trending">
    <div class="container-fluid">
      <div class="row  mt-3">
        <div class="col-md-6 col-lg-3">
          <div class="section-title d-flex justify-content-between">
            <h6 class="title">Trending News</h6>
            <p>
              <a class=" " href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
              </a> &nbsp;&nbsp;
              <a class="" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fa fa-chevron-right"></i>
              </a>
            </p>
          </div>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!--div>debut slider</div-->
                <div class="trending-post">
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i> December 26, 2022</p>
                      </div>
                      <h6 class="title"><a href="#">The FAA will test drone </a></h6>
                    </div>
                  </div>
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i> December 26, 2021</p>
                      </div>
                      <h6 class="title"><a href="#">Flight schedule and quarantine</a></h6>
                    </div>
                  </div>
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i> December 26, 2020..</p>
                      </div>
                      <h6 class="title"><a href="#">Indore bags cleanest city</a></h6>
                    </div>
                  </div>
                </div>
                <!--div>end slider</div-->
  
              </div>
              <div class="carousel-item">
                <!--div>debut slider</div-->
                <div class="trending-post">
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i> December 26, 2021000 </p>
                      </div>
                      <h6 class="title"><a href="#">The FAA will test drone </a></h6>
                    </div>
                  </div>
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i>December 26, 2018....</p>
                      </div>
                      <h6 class="title"><a href="#">Flight schedule and quarantine</a></h6>
                    </div>
                  </div>
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post6.png" alt="img" style="width: 100%;">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i>December 26, 2018.000.</p>
                      </div>
                      <h6 class="title"><a href="#">Indore bags cleanest city</a></h6>
                    </div>
                  </div>
                </div>
                <!--div>end slider</div-->
              </div>
              <div class="carousel-item">
                <div class="trending-post">
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post8.png" alt="img">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                      </div>
                      <h6 class="title"><a href="#">The FAA will test drone.</a></h6>
                    </div>
                  </div>
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post6.png" alt="img">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                      </div>
                      <h6 class="title"><a href="#">Flight schedule and quarantine</a></h6>
                    </div>
                  </div>
                  <div class="single-post-wrap style-overlay">
                    <div class="thumb">
                      <img src="../../assets/img/post7.png" alt="img">
                    </div>
                    <div class="detail-1">
                      <div class="post-meta-single">
                        <p><i class="fa fa-clock-o"></i>December 26, 2018</p>
                      </div>
                      <h6 class="title"><a href="#">Indore bags cleanest city</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
        <div class="col-lg-3 col-md-6">
          <div class="section-title d-flex justify-content-between">
            <h6 class="title">Latest News</h6>
            <p>
              <a class=" " href="#carouselLatestNews" role="button" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
              </a> &nbsp;&nbsp;
              <a class="" href="#carouselLatestNews" role="button" data-slide="next">
                <i class="fa fa-chevron-right"></i>
              </a>
            </p>
          </div>
  
          <div id="carouselLatestNews" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!--div class="item"-->
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list1.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details" style="color: black;">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Himachal Pradesh rules in order to allow tourists </a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list2.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Online registration, booking for Vaishno Devi </a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list3.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Detecting technologies in airports this year</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list4.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">The FAA will drone detect-ing in airports this year</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list1.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Thailand makes it mand-atory for tourists to stay</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/div-->
              </div>
  
              <div class="carousel-item">
                <!--div class="item"-->
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list1.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Himachal Pradesh rules in order to allow tourists </a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list4.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Online registration, booking for Vaishno Devi </a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list3.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Detecting technologies in airports this year</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list4.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">The FAA will drone detect-ing in airports this year</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single-post-list-wrap">
                  <div class="media">
                    <div class="media-left">
                      <img src="../../assets/img/list1.png" alt="img">
                    </div>
                    <div class="media-body">
                      <div class="details">
                        <div class="post-meta-single">
                          <i class="fa fa-clock-o"></i> 08.22.2020
                        </div>
                        <h6 class="title"><a href="#">Thailand makes it mand-atory for tourists to stay</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/div-->
              </div>
            </div>
          </div>
        </div>
  
  
  
        <div class="col-lg-3 col-md-6">
          <div class="section-title d-flex justify-content-between">
            <h6 class="title">What’s new</h6>
            <p>
              <a class=" " href="#carouselWhatsNew" role="button" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
              </a> &nbsp;&nbsp;
              <a class="" href="#carouselWhatsNew" role="button" data-slide="next">
                <i class="fa fa-chevron-right"></i>
              </a>
            </p>
          </div>
          <div id="carouselWhatsNew" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="single-post-wrap">
                  <div class="thumb">
                    <img src="../../assets/img/post9.png" alt="img">
                  </div>
                  <div class="details">
                    <div class="post-meta-single mb-4 pt-1 d-flex">
                      <p class="mr-3"><a class="tag-blue" href="#">Tech</a></p>
                      <p><i class="fa fa-clock-o"></i> 08.22.2020</p>
                    </div>
                    <h6 class="title"><a href="#">Uttarakhand’s Hemkund Sahib yatra to start from September 4</a></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. </p>
                  </div>
                </div>
              </div>
  
              <div class="carousel-item">
                <div class="single-post-wrap">
                  <div class="thumb">
                    <img src="../../assets/img/post9.png" alt="img">
                  </div>
                  <div class="details">
                    <div class="post-meta-single mb-4 pt-1">
                      <ul>
                        <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                        <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                      </ul>
                    </div>
                    <h6 class="title"><a href="#">Uttarakhand’s Hemkund Sahib yatra to start from September 4</a></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="section-title">
            <h6 class="title">Join With Us</h6>
          </div>
          <div class="social-area-list mb-4 mt-4">
            <ul>
              <li><a class="facebook" href="#"><i
                    class="fa fa-facebook social-icon"></i><span>12,300</span><span>Like</span> <i
                    class="fa fa-plus"></i></a></li>
              <li><a class="twitter" href="#"><i
                    class="fa fa-twitter social-icon"></i><span>12,600</span><span>Followers</span> <i
                    class="fa fa-plus"></i></a></li>
              <li><a class="youtube" href="#"><i
                    class="fa fa-youtube-play social-icon"></i><span>1,300</span><span>Subscribers</span> <i
                    class="fa fa-plus"></i></a></li>
              <li><a class="instagram" href="#"><i
                    class="fa fa-instagram social-icon"></i><span>52,400</span><span>Followers</span> <i
                    class="fa fa-plus"></i></a></li>
              <li><a class="google-plus" href="#"><i
                    class="fa fa-google social-icon"></i><span>19,101</span><span>Subscribers</span> <i
                    class="fa fa-plus"></i></a></li>
            </ul>
          </div>
          <div class="add-area">
            <a href="#"><img class="w-100" src="../../assets/img/6.png" alt="img"></a>
          </div>
        </div>
      </div>
    </div>
  </div>