.imageLogo{
    background: url(../../../assets/img/ot-logo.png) center;
}

.position-last-block{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px;
}

/*.logo{
    width:50%
}*/
